
.inputArea{
    margin-right: 20px;
}

.reminder{
    color: rgb(142, 142, 142);
    
}

.editCloseButton{

    background: none;
    border: none;
    float: right;
    background-color: none;
    color: white;
    background-color: none !important;
    margin-bottom: 20px;
    font-size: 20px;
}

.blogTitle{
    font-size: 30px !important;
    font-weight: 700;
    height: 30px;
}

.postButton{
    color: white;
    width: 40px;
    height: 40px;
    
}

.sendButton{

    background: none;
    border: none;
    float: right;
    background-color: none;
    color: white;
    background-color: none !important;
    margin-bottom: 20px;
    font-size: 20px;
}

.postButton{
    color: white;
    width: 40px;
    height: 40px;
    transition: color 0.1s ease-out 10ms;
    
}

.postButton:hover{

    color: #8cd3ff;
    cursor: pointer;
    
}

.postButtonContainer{
    text-align: right;
    margin: auto;
    padding: 20px 20px 20px 20px;
}


.createPost{
    background-color: #333;
    text-align: center;
    
}

.formStyle{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-control{
    background-color: #222 !important;
    border: none !important;
    border-radius: 5px !important;
    color: white !important;
    -webkit-border-radius: 12px ;
    -moz-border-radius: 12px ;
    -ms-border-radius: 12px ;
    -o-border-radius: 12px ;
    font-size: 20px;
    margin: auto;
    
}


.rti--container {
    --rti-bg: #141414 !important;
    --rti-border: none !important;
    --rti-main: #141414 !important;
    --rti-radius: 12px !important;
    --rti-s: 6px !important; 
    --rti-tag: #2C3039 !important;
    --rti-tag-remove: #0088FF !important;
    
    
  }
.rti--input{
    background-color: #141414 !important;
    color: white !important;
}

@media screen and (width < 700px) {
    .form-control {
        min-width: 370px
    }
    .postButtonContainer {
        width: 370px;
    }

  }

@media screen and (min-width: 700px) {
    .form-control, .postButtonContainer {
        min-width: 600px;
    }
    .my-modal {
        min-width: 650px;
    }

  }

  @media screen and (min-width: 1000px) {
    .form-control, .postButtonContainer {
        min-width: 800px;
    }
    .my-modal {
        min-width: 850px;
    }

  }

@media screen and (min-width: 1400px) {
    .form-control, .postButtonContainer {
        min-width: 1200px;
    }
    .my-modal {
        min-width: 1250px;
    }
  }